In [1]:
# Step 1 Perform consistancy checks for df_prods
## Import libraries
import pandas as pd
import numpy as np 
import os
## Import orders.csv, products.csv, & assign path
path = r'C:\Users\X1\Instacart Basket Analysis Master'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [20]:
# Checking df_prods for mixed-type columns
for col in df_prods.columns.tolist():
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prods[weird]) > 0:
    print (col)

product_name

C:\Users\X1\AppData\Local\Temp\ipykernel_4444\1278841409.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\1278841409.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\1278841409.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\1278841409.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\1278841409.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)

In [22]:
# Since FutureWarning was returned, no mixed-type data was found.

In [2]:
# Assign the function isnull() to df_prods, then sum the results with sum()
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [3]:
# To view these missing values, create subset
df_nan = df_prods[df_prods['product_name'].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [4]:
# The missing values here are product names, which are strings. String values can’t be imputed like numeric values.
# Before making this new dataframe, let’s run the df_prods.shape to see number of rows before and after Addressing Missing Values
df_prods.shape

(49693, 5)

In [5]:
# Assign new df called df_prods_clean like above, but change to False to return everything without NaN
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]
df_prods_clean.shape

(49677, 5)

In [6]:
# 16 rows were removed

In [7]:
# To look for duplicates in df_prods_clean, creat new subset
df_dups = df_prods_clean[df_prods_clean.duplicated()]
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [9]:
# Before deleting duplicates, check number of rows before and after
df_prods_clean.shape

(49677, 5)

In [10]:
# Create new df that doesn't include the duplicates that were identified by using drop_duplicates()
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prods_clean_no_dups.shape

(49672, 5)

In [12]:
# 5 dupes were removed
# Remember to export later

In [13]:
# Step 2 Run the df.describe() function on your df_ords dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [28]:
# Step 2a: Looking at the order_number column, it is unusual that the MIN is 1 and the MAX is 1, when some order_number values consists of 1 through 10 or more.  Also, order_number should be renamed to be more descriptive like "number_of_items" if that is the kind of data it is representing.

In [21]:
# Step 3 Check for mixed-type data in your df_ords dataframe.

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

C:\Users\X1\AppData\Local\Temp\ipykernel_4444\20345967.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\20345967.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\20345967.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\20345967.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\20345967.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\20345967.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\X1\AppData\Local\Temp\ipykernel_4444\20345967.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [24]:
# Step 4 Since FutureWarning was returned, no mixed-type data was found.

In [26]:
# Step 5 Run a check for missing values in your df_ords dataframe

# Assign the function isnull() to df_ords, then sum the results with sum()
df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [27]:
# To view these missing values, create subset
df_nan_ords = df_ords[df_ords['days_since_prior_order'].isnull() == True]
df_nan_ords

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

In [30]:
## Step 5a: 206,209 rows of missing values were found in the days_since_prior_order column. One cause of this could be if a user submitted an order twice in the same day, the system would not enter a value in this collumn since zero days occured since the prior order.

In [31]:
# Step 6 Address the missing values using an appropriate method

# Before making a new dataframe, let’s run the df_ords.shape to see number of rows before and after Addressing Missing Values
df_ords.shape

(3421083, 7)

In [32]:
# Assign new df called df_ords_clean like above, but change to False to return everything without NaN
df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == False]
df_ords_clean.shape

(3214874, 7)

In [33]:
3421083-3214874

206209

In [34]:
# Step 6a: 206,209 rows of missing values were removed in df_ords_clean. We do not want to permanently remove these rows because we still need to keep this data if customers submit two or more purchases in a single day.

In [35]:
# Step 7 Run a check for duplicate values in your df_ords data.

# To look for duplicates in df_ords_clean, creat new subset
df_ords_dups = df_ords_clean[df_ords_clean.duplicated()]
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [36]:
# Step 7a: I'm assuming there is no duplicate values in df_ords if no rows are returned.

In [37]:
# Step 8 Address the duplicates using an appropriate method.

# If there were duplicates, I would use the same code above for df_prods_clean
df_ords_clean_no_dups = df_ords_clean.drop_duplicates()

In [38]:
# Step 9 Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder

df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))