# Importing Pickle Data

## Step 3 In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#Import orders_products_combined pickle
path = r'C:\Users\X1\Instacart Basket Analysis Master'
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

## Step 4 Check the shape of the imported dataframe

In [2]:
# Checking shape of orders_products_combined it should be same as Step 1

df_merged_large.shape

(32434489, 11)

# Merging Data

## Step 5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [3]:
# Import products data set

df_prods = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [4]:
df_prods.shape

(49693, 6)

In [5]:
# Drop unnamed columns in df_prods

df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [6]:
# Drop unnamed columns in orders_products_combined

df_merged_large = df_merged_large.drop(columns = ['_merge'])

In [7]:
# Merging orders_products_combined with products_checked

df_merged_large_1 = df_merged_large.merge(df_prods, on = 'product_id', indicator = True)
df_merged_large_1.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

## Step 6 Confirm the results of the merge using the merge flag.

In [8]:
df_merged_large_1['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [9]:
df_merged_large_1.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))